<h1>DBZ Personajes</h1>
<hr>

<div class="row">
  <div class="col">

    <dbz-list [characterList]="characters"
     (onDelete)="onDeleteCharacter($event)"></dbz-list>


  </div>

  <div class="col">


<!-- yo quiero escuchar el evento cuando dbz-add-character emite el evento onNewCharacter emita un personaje -->
<!-- $event  con el simbolo de dolar es un nombre especializado o especifico  angular sabe la funciton y tipo de dato -->
  <dbz-add-character (onNewCharacter)="onNewCharacter($event)"></dbz-add-character>
  </div>

</div>

